---
layout: ""
page_title: "Provider: updown.io"
subcategory: "Monitoring"
description: |-
  This provider manages updown.io resources through their publicly available API.
---

# Updown.io Provider

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
